.cart-container {
  padding: 24px;
  max-width: 600px;
  margin: 0 auto;
}

.empty-message {
  text-align: center;
  color: gray;
  margin-top: 48px;
}

mat-list-item {
  img {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
}

.cart-actions {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}
