.total-count {
  font-weight: bold;
  margin-bottom: 16px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 4px;
}
.quantity {
  min-width: 24px;
  text-align: center;
  font-weight: bold;
}
